params {
  condaEnvPath = ''
  genomes = ''
  cpus = 4
  readCount = 10000
  nGenomes = 2
  sampleGenomes = 'sample-genomes.qza'
  sampleLoci = 'sample-loci.qza'
  sampleProteins = 'samle-proteins.qza'
  sampleTaxonomy = 'sample-taxonomy.qza'
  taxon = 'Mycobacterium'
  sampleCount = 2
  sampleNames = (1..params.sampleCount).toList().collect { i -> "sample${i}"}.join(' ')
  filesReads = 'paired-end.qza'
  filesContigsHit = 'paired-end-megahit.qza'
  filesContigsSpades = 'paired-end-metaspades.qza'
  filesIndexHit = 'paired-end-megahit-index.qza'
  filesIndexSpades = 'paired-end-megaspades-index.qza'
}

tower {
  endpoint = 'http://localhost:9000/api'
  enabled = true
}
