def timestamp   = new java.util.Date().format('yyyyMMddHHmmss')

params {
    // Core params that others might depend on 
    outputDir = "$launchDir/results"
    container = null  
    condaEnv = null
    runId = null
    internetModule = null
    fondueAccessionIds = null   
    
    // Derived params that depend on core params
    storeDir = "${params.outputDir}/keys"
    publishDir = "${params.outputDir}/results"
    traceDir = "${params.outputDir}/pipeline_info"
    tmpDir = null  // System default if not specified
    containerCacheDir = "${params.outputDir}/container_cache"
    q2cacheDir = "${params.outputDir}/caches/main"
    q2TemporaryCachesDir = "${params.outputDir}/caches"
    sampleReport = "${params.outputDir}/pipeline_info/${timestamp}_sample_report.txt"
    additionalVolumeMounts = null

    q2cacheDirExists = "ok"
    
    // Input/output settings
    email = ""
    inputReadsCache = ""
    inputReads = ""
    metadata = ""
}

includeConfig 'conf/defaults.config'    // Default values for all workflow modules
includeConfig 'conf/resources.config'   // Resource allocation
includeConfig 'conf/profiles.config'    // Profiles

// Pipeline reporting
trace {
    enabled     = true
    file        = "${params.traceDir}/${timestamp}_trace.txt"
}
timeline {
    enabled     = true
    file        = "${params.traceDir}/${timestamp}_timeline.html"
}
report {
    enabled     = true
    file        = "${params.traceDir}/${timestamp}_report.html"
}
dag {
    enabled     = false
    file        = "${params.traceDir}/${timestamp}_dag.svg"
}
