params {
  condaEnvPath = ''
  genomes = 'data/genomes.qza'
  cpus = 2
  readCount = 200000
  nGenomes = 2
  sampleCount = 2
  sampleNames = (1..params.sampleCount).toList().collect { i -> "sample${i}"}.join(' ')
  filesReads = 'paired-end.qza'
  filesContigs = 'paired-end-contigs.qza'
  filesIndex = 'paired-end-index.qza'
  filesAlnMap = 'paired-end-bowtie-map-contigs.qza'
  filesMags = 'paired-end-mags.qza'
  filesBinQCViz = 'paired-end-bins-qc.qzv'
  checkmDBpath = '/Users/mziemski/Downloads/checkm_data_2015_01_16'
  storeDir = '/Users/mziemski/Repos/moshpit-workflows/outputs'
}

tower {
  endpoint = 'http://localhost:9000/api'
  enabled = false
}

profiles {
  conda {
    process.conda = params.condaEnvPath
  }

  docker {
    docker.enabled = true
    process.containerOptions = '--cpus=4'
    process.container = 'misialq/q2-shotgun:latest'
  }
}
