process {
    container = params.container ?: params.containerAnnotate

    // q2-assembly plugin
    withName: 'ASSEMBLE_METASPADES|ASSEMBLE_MEGAHIT|EVALUATE_CONTIGS|EVALUATE_CONTIGS_QUAST|EVALUATE_CONTIGS_QUAST_NO_READS|INDEX_CONTIGS|MAP_READS_TO_CONTIGS|FILTER_CONTIGS|SIMULATE_READS|SIMULATE_READS_MASON|INDEX_DEREP_MAGS|MAP_READS_TO_DEREP_MAGS' {
        container = params.containerAssembly ?: params.container
    }

    // q2-assembly collation (unaliased COLLATE_PARTITIONS + COLLATE_MAPS)
    withName: 'COLLATE_MAPS|COLLATE_PARTITIONS' {
        container = params.containerAssembly ?: params.container
    }

    // q2-annotate collation (kraken, kaiju, eggnog, types collate-contigs)
    withName: 'COLLATE_REPORTS_READS|COLLATE_HITS_READS|COLLATE_REPORTS_MAGS|COLLATE_HITS_MAGS|COLLATE_REPORTS_MAGS_DEREP|COLLATE_HITS_MAGS_DEREP|COLLATE_HITS_CONTIGS|COLLATE_ANNOTATIONS_CONTIGS|COLLATE_ANNOTATIONS_MAGS|COLLATE_ANNOTATIONS_MAGS_DEREP|COLLATE_FT|COLLATE_FT_CONTIGS|COLLATE_TAXONOMY|COLLATE_TAXONOMY_CONTIGS|COLLATE_CONTIGS' {
        container = params.containerAnnotate ?: params.container
    }

    // q2-fastp plugin
    withName: 'PROCESS_READS_FASTP|VISUALIZE_FASTP|COLLATE_FASTP_REPORTS' {
        container = params.containerFastp ?: params.container
    }

    // q2-humann3 and q2-sapienns plugins
    withName: 'FETCH_CHOCOPHLAN_DB|FETCH_TRANSLATED_SEARCH_DB|FETCH_METAPHLAN_DB|PROFILE_READS_HUMANN|COLLATE_HUMANN_PARTITIONS|FETCH_HUMANN_ARTIFACT|CONVERT_HUMANN_GENE_FAMILIES|CONVERT_HUMANN_PATH_ABUNDANCE|CONVERT_METAPHLAN_PROFILE|COLLATE_GENE_FAMILIES_READS|COLLATE_PATH_ABUNDANCE_READS|COLLATE_METAPHLAN_PROFILES_READS|COLLATE_REACTIONS_READS' {
        container = params.containerHumann3 ?: params.container
    }

    // q2-mag plugin
    withName: 'BIN_CONTIGS_METABAT|BIN_CONTIGS_SEMIBIN2|EVALUATE_BINS_BUSCO|FETCH_BUSCO_DB|FILTER_MAGS|VISUALIZE_BUSCO|COLLATE_BUSCO_RESULTS|DEREPLICATE_MAGS|PARTITION_DEREP_MAGS|GET_GENOME_LENGTHS|ESTIMATE_ABUNDANCE' {
        container = params.containerMag ?: params.containerAnnotate ?: params.container
    }

    // q2-mag collation (types collate-sample-data-mags, unbinned contigs)
    withName: 'COLLATE_BINS|COLLATE_FILTERED_BINS|COLLATE_UNBINNED_CONTIGS' {
        container = params.containerMag ?: params.containerAnnotate ?: params.container
    }

    withName: 'EVALUATE_BINS_CHECKM' {
        container = params.containerCheckM ?: params.container
    }

    withName: 'COMPARE_GENOMES_SKANI' {
        container = params.containerSkani ?: params.container
    }

    // q2-sourmash plugin
    withName: 'CALCULATE_MINHASHES|COMPARE_MINHASHES' {
        container = params.containerSourmash ?: params.container
    }
}
