profiles {
    standard {
        process {
            executor                = 'local'
        }
    }
    slurm {
        process {
            executor                = 'slurm'
        }
        executor {
            perCpuMemAllocation     = true
            queueSize               = 1000
            submitRateLimit         = '75/1min'
        }
    }
    conda {
        conda.enabled               = true
        process {
            conda                   = params.condaEnv
        }
    }
    docker {
        docker.enabled              = true
        docker.runOptions           = ""
        process {
            container               = params.container
        }
        if (params.tmpDir) {
            docker.temp             = params.tmpDir
        }
    }
    singularity {
        singularity.enabled         = true
        singularity.autoMounts      = false
        singularity.engineOptions   = "--debug"
        singularity.envWhitelist    = "http_proxy,https_proxy,ftp_proxy"
        singularity.cacheDir        = "${params.outputDir}/container_cache"
        singularity.runOptions      = "-B $HOME:$HOME -B \$TMPDIR:/tmp -B ${params.outputDir}:${params.outputDir} -H $WORK/tmp_home:/home/qiime2 ${params.additionalVolumeMounts}"
        process {
            container               = params.container
        }
    }
}
