profiles {
    standard {
        process {
            executor                = 'local'
        }
    }
    slurm {
        process {
            executor                = 'slurm'
        }
        executor {
            perCpuMemAllocation     = true
            queueSize               = 500
            submitRateLimit         = '75/1min'
        }
    }
    conda {
        conda.enabled               = true
        process {
            conda                   = params.condaEnv
        }
    }
    docker {
        docker.enabled              = true
        docker.runOptions           = ""
        process {
            container               = params.container
        }
        if (params.tmpDir) {
            docker.temp             = params.tmpDir
        }
    }
    singularity {
        singularity.enabled         = true
        singularity.autoMounts      = false
        singularity.engineOptions   = "--debug"
        singularity.envWhitelist    = "http_proxy,https_proxy,ftp_proxy"
        singularity.cacheDir        = "${params.outputDir}/container_cache"
        singularity.runOptions      = "-B $HOME -B \$TMPDIR -B ${params.outputDir}:${params.outputDir} -H $HOME/q2_home:/home/qiime2 ${params.additionalVolumeMounts} ${params.additionalContainerOptions}"
        process {
            container               = params.container
        }
    }
    // General Scaling Profiles
    low {
        params {
            overall_cpu_scale               = 0.5
            overall_mem_scale               = 0.5
            overall_time_scale              = 0.75
            // Ensure emphasis multipliers are at default if only this profile is used
            cpu_intensive_task_multiplier   = 1.0 
            mem_intensive_task_multiplier   = 1.0
        }
    }
    medium {
        params {
            overall_cpu_scale               = 1.0
            overall_mem_scale               = 1.0
            overall_time_scale              = 1.0
            cpu_intensive_task_multiplier   = 1.0
            mem_intensive_task_multiplier   = 1.0
        }
    }
    high {
        params {
            overall_cpu_scale               = 2.0
            overall_mem_scale               = 2.0
            overall_time_scale              = 1.0 
            cpu_intensive_task_multiplier   = 1.0
            mem_intensive_task_multiplier   = 1.0
        }
    }
    // Emphasis Profiles (intended to be combined with a low/medium/high profile)
    cpu_intensive {
        params {
            cpu_intensive_task_multiplier   = 1.5 
            mem_intensive_task_multiplier   = 1.0
        }
    }
    mem_intensive {
        params {
            mem_intensive_task_multiplier   = 1.5
            cpu_intensive_task_multiplier   = 1.0
        }
    }
    // Specialized Profiles (generally used standalone or with non-scaling profiles like conda/slurm)
    quick_test {
        params {
            overall_cpu_scale               = 0.25
            overall_mem_scale               = 0.25
            overall_time_scale              = 0.5
            cpu_intensive_task_multiplier   = 1.0 // No special boost for quick tests
            mem_intensive_task_multiplier   = 1.0 // No special boost for quick tests
        }
    }
    long_jobs {
        params {
            overall_cpu_scale               = 1.0
            overall_mem_scale               = 1.0
            overall_time_scale              = 3.0
            cpu_intensive_task_multiplier   = 1.0
            mem_intensive_task_multiplier   = 1.0
        }
    }
}
