process {
  // memory amounts are total (per job)

  withLabel: fondue { 
    cpus = 2
    memory = 4.GB
    time = 4.h
    clusterOptions = "--tmp=100G"
  }
  
  withLabel: readSimulation {
    cpus = 8
    memory = 8.GB
    time = { 4.h * task.attempt }
  }

  withLabel: fastp {
    cpus = 1
    memory = { 6.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  
  withLabel: hostRemoval {
    cpus = 4
    memory = 8.GB
    time = { 2.h * task.attempt }
  }

  withLabel: readSubsampling {
    time = { 4.h * task.attempt }
  }

  withLabel: genomeAssembly {
    cpus = 4
    memory = { 16.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  
  withLabel: contigEvaluation {
    cpus = 16
    memory = { 48.GB * task.attempt }
    time = 24.h
  }

  withLabel: indexing {
    cpus = 1
    memory = { 3.GB * task.attempt }
    time = { 2.h * task.attempt }
  }

  withLabel: readMapping {
    cpus = 4
    memory = { 16.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  
  withLabel: contigBinning {
    cpus = 2
    memory = { 3.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  withLabel: checkm {
    cpus = 6
    memory = { 8.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  
  withLabel: busco {
    cpus = 4
    memory = 32.GB
    time = { 24.h * task.attempt }
  }
  
  withLabel: dereplication {
    cpus = 1
    memory = 8.GB
    time = 4.h
  }
  
  withLabel: abundanceEstimation {
    cpus = 4
    memory = { 24.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  withLabel: taxonomicClassification { 
    cpus = 12
    memory = { 112.GB * task.attempt }
    time = 4.h
  }

  withLabel:  orthologSearch { 
    cpus = 12
    memory = 12.GB
    time = { 24.h * task.attempt }
  }

  withLabel:  functionalAnnotation { 
    cpus = 4
    memory = 56.GB
    time = { 24.h * task.attempt }
  }

  withLabel:  collation { 
    memory = { 12.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  withLabel:  needsInternet {
      module  = params.internetModule
  }

}
