process {
  // all of those processes are not parsl-compatible
  // memory amounts are total (per job)

  withLabel: fondue { 
    cpus = 8
    memory = 8.GB
    time = 24.h 
  }
  
  withLabel: readSimulation {
    cpus = 8
    memory = 24.GB
    time = 24.h
  }

  withLabel: readSummarization {
    memory = 16.GB
    time = 24.h
  }
  
  withLabel: readTrimming {
    cpus = 8
    memory = 4.GB
    time = 24.h
  }
  
  withLabel: hostRemoval {
    cpus = 12
    memory = 24.GB
    time = 12.h
  }

  withLabel: readSubsampling {
    time = 4.h
  }
  
  withLabel: contigEvaluation {
    cpus = 6
    memory = 6.GB
    time = 24.h
  }
  
  withLabel: contigBinning {
    cpus = 12
    memory = 3.GB
    time = 6.h
  }

  withLabel: checkm {
    cpus = 6
    memory = 8.GB
    time = 12.h
  }
  
  withLabel: busco {
    cpus = 12
    memory = 12.GB
    time = 12.h
  }
  
  withLabel: dereplication {
    cpus = 1
    memory = 2.GB
    time = 6.h
  }
  
  withLabel: abundanceEstimation {
    cpus = 12
    memory = 36.GB
    time = 12.h
  }

  withLabel: bracken {
    memory = 4.GB
  }

}

params {
  // all of those work with parsl - this section is used to construct the config file
  // memory amounts are per CPU (if perCPU allocation is turned on)

  readMapping { 
    cpus = 16
    memory = 3.GB
    time = 12.h
    blocks = 3
    workerInit = "source ~/.bashrc && conda activate qiime2-metagenome-2024.10"
  }

  genomeAssembly { 
    cpus = 16
    memory = 6.GB
    time = 50.h
    blocks = 3
    workerInit = "source ~/.bashrc && conda activate qiime2-metagenome-2024.10"
  }

  indexing { 
    cpus = 12
    memory = 2.GB
    time = 12.h
    blocks = 3
    workerInit = "source ~/.bashrc && conda activate qiime2-metagenome-2024.10"
  }

  taxonomicClassification { 
    cpus = 12
    memory = 8.GB
    time = 12.h
    blocks = 3
    workerInit = "source ~/.bashrc && conda activate qiime2-metagenome-2024.10"
  }

  functionalAnnotation { 
    cpus = 12
    memory = 8.GB
    time = 24.h
    blocks = 10
    workerInit = "source ~/.bashrc && conda activate qiime2-metagenome-2024.10"
  }

}
