process {
  // memory amounts are total (per job)

  withLabel: fondue { 
    cpus = 8
    memory = 8.GB
    time = 24.h 
  }
  
  withLabel: readSimulation {
    cpus = 8
    memory = 24.GB
    time = 24.h
  }

  withLabel: fastp {
    cpus = 8
    memory = 8.GB
    time = 4.h
  }
  
  withLabel: hostRemoval {
    cpus = 12
    memory = 36.GB
    time = 12.h
  }

  withLabel: readSubsampling {
    time = 4.h
  }

  withLabel: genomeAssembly {
    cpus = 24
    memory = 96.GB
    time = 24.h
  }
  
  withLabel: contigEvaluation {
    cpus = 6
    memory = 12.GB
    time = 24.h
  }

  withLabel: indexing {
    cpus = 8
    memory = 32.GB
    time = 2.h
  }

  withLabel: readMapping {
    cpus = 12
    memory = 96.GB
    time = 6.h
  }
  
  withLabel: contigBinning {
    cpus = 12
    memory = 4.GB
    time = 6.h
  }

  withLabel: checkm {
    cpus = 6
    memory = 8.GB
    time = 12.h
  }
  
  withLabel: busco {
    cpus = 16
    memory = 32.GB
    time = 20.h
    clusterOptions = "--tmp=100G"
  }
  
  withLabel: dereplication {
    cpus = 1
    memory = 8.GB
    time = 6.h
  }
  
  withLabel: abundanceEstimation {
    cpus = 12
    memory = 36.GB
    time = 12.h
  }

  withLabel: taxonomicClassification { 
    cpus = 24
    memory = 24.GB
    time = 4.h
  }

  withLabel:  orthologSearch { 
    cpus = 16
    memory = 12.GB
    time = 48.h
  }

  withLabel:  functionalAnnotation { 
    cpus = 16
    memory = 56.GB
    time = 48.h
  }

  withLabel:  collation { 
    memory = 16.GB
    time = 2.h
  }

}
