singularity.enabled         = true
singularity.autoMounts      = false
singularity.engineOptions   = "--debug"
singularity.runOptions      = "-B $WORK/_data:/_data -B $WORK/tmp:/tmp -B $WORK -H $WORK/tmp_home:/home/qiime2 -B $HOME:$HOME -B $SCRATCH/tmp:$SCRATCH/tmp"
singularity.envWhitelist    = "http_proxy,https_proxy,ftp_proxy"
singularity.cacheDir        = ""
process.container           = ""
if (params.tempDir) {
    singularity.temp        = params.tempDir
}
if (params.executor) {
    process.executor        = params.executor
}
