process.executor.perCpuMemAllocation = true

params {
  fondue {
    clusterOptions                  = ""
    paired                          = true
    filesAccessionIds               = ""
  }

  read_qc {
    fastp {
      disableQualityFiltering       = false
      deduplicate                   = false
      disableAdapterTrimming        = true
      enableBaseCorrection          = true
      additionalFlags               = "--p-qualified-quality-phred 32"
    }
  }

  host_removal {
    enabled                         = true
    human                           = true
    clusterOptions                  = ""
    database {
      cache                         = "$WORK/_data/outputs/cache-dbs"
      key                           = "human_reference_index"
    }
    mode                            = "local"
    sensitivity                     = "sensitive"
    ref_gap_open_penalty            = 5
    ref_gap_ext_penalty             = 3
  }

  read_simulation {
    clusterOptions                  = ""
    sampleCount                     = 2
    seed                            = 100
    nGenomes                        = 4
    readCount                       = 10000000
    abundance                       = "uniform"
    gc_bias                         = true
    sampleGenomes                   = "$HOME/Repos/moshpit-workflows/workflows/data/genomes.qza"
    sampleNames                     = (1..params.read_simulation.sampleCount).toList().collect { i -> "sample${i}"}.join(' ')
    taxon                           = ""
  }

  read_subsampling {
    enabled                         = true
    paired                          = true
    fraction                        = 0.8
  }

  genome_assembly {
    enabled                         = true
    clusterOptions                  = ""
    assembler                       = "megahit"
    clusterOptions                  = ""
    fetchArtifact                   = true
    megahit {
      presets                       = "meta-sensitive"
      kList                         = "21 29 39 59 79 99 119 141"
      minContigLen                  = 200
      additionalFlags               = ""
    }
    spades {
      k                             = "auto"
      debug                         = false
      covCutoff                     = "off"
      additionalFlags               = "--p-meta"
    }
  }

  assembly_qc {
    enabled                         = true
    useReads                        = false   // currently not supported!
    clusterOptions                  = ""
  }

  contig_indexing {
    clusterOptions                  = ""
  }

  read_mapping {
    clusterOptions                  = ""
  }

  binning {
    enabled                         = true
    clusterOptions                  = ""
    fetchArtifact                   = true
    qc {
      busco {
        enabled                       = true
        clusterOptions                = ""
        mode                          = "genome"
        lineageDatasets               = "bacteria_odb10"
        additionalFlags               = ""
        database {
          types                       = "prok" // prok, euk, virus
          cache                       = "$WORK/_data/outputs/cache-dbs"
          key                         = "busco_db"
        }
      }
      filtering {
        enabled                       = false
        condition                     = "complete>30 AND dataset='bacteria_odb10'"
        exclude_ids                   = false
        fetchArtifact                 = true
    }
    }
  }

  dereplication {
    enabled                         = true
    clusterOptions                  = ""
    threshold                       = 0.99
    sourmash {
      clusterOptions                = ""
      ksizes                        = 35
      scaled                        = 100
      trackAbundance                = true
    }
    fetchArtifact                   = true
  }

  taxonomic_classification {
    enabledFor                      = "reads,contigs,mags,derep" // reads, contigs, mags, derep
    fetchArtifact                   = true
    kraken2 {
      clusterOptions                = ""
      database {
        cache                       = "$WORK/_data/outputs/cache-dbs"
        key                         = "kraken2_standard8"
        collection                  = "standard8"
      }
      memoryMapping                 = false
      additionalFlags               = ""
    }
    bracken {
      enabled                       = true
      clusterOptions                = ""
      database {
        cache                       = "$WORK/_data/outputs/cache-dbs"
        key                         = "bracken_standard"
      }
      threshold                     = 0
      readLength                    = 100
      level                         = "S"
    }
    feature_selection {
      coverageThreshold             = 0.1
    }
  }

  functional_annotation {
    enabledFor                      = "" // contigs, mags, derep
    ortholog_search {
      clusterOptions                = ""
      fetchArtifact                 = true
      dbInMemory                    = true
      additionalFlags               = ""
      database {
        cache                       = "$WORK/_data/outputs/cache-dbs"
        key                         = "diamond_db"
        clusterOptions              = ""
      }
    }
    annotation {
      clusterOptions                = ""
      fetchArtifact                 = true
      dbInMemory                    = true
      additionalFlags               = ""
      database {
        cache                       = "$WORK/_data/outputs/cache-dbs"
        key                         = "eggnog_db"
        clusterOptions              = ""
      }
      extract {
        types                       = "caz,cog"
        max_evalue                  = 0.00001
        min_score                   = 0
        fetchArtifact               = true
      }
    }
  }

  mag_indexing {
    clusterOptions                  = ""
  }

  mag_abundance {
    enabled                         = true
    fetchArtifact                   = true
    clusterOptions                  = ""
    metric                          = "tpm"
    min_mapq                        = 42
    min_query_len                   = 0
    min_base_quality                = 0
  }
}
